<a href="https://colab.research.google.com/github/rufous86/spark_vs_pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Скачаем необходимые наборы данных с kaggle  
инструкция по скачиванию данных в colab напрямую с kaggle ниже:  
https://www.kaggle.com/general/74235

In [1]:
! pip install -q kaggle
from google.colab import drive
drive.mount('/content/drive')
! mkdir ~/.kaggle
! cp '/content/drive/MyDrive/Colab Notebooks/kaggle.json' ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download -c 'riiid-test-answer-prediction'
! mkdir data
! unzip riiid-test-answer-prediction.zip -d data

Mounted at /content/drive
Downloading riiid-test-answer-prediction.zip to /content
 99% 1.28G/1.29G [00:09<00:00, 139MB/s]
100% 1.29G/1.29G [00:09<00:00, 151MB/s]
Archive:  riiid-test-answer-prediction.zip
  inflating: data/example_sample_submission.csv
  inflating: data/example_test.csv
  inflating: data/lectures.csv
  inflating: data/questions.csv
  inflating: data/riiideducation/__init__.py
  inflating: data/riiideducation/competition.cpython-37m-x86_64-linux-gnu.so
  inflating: data/train.csv

In [2]:
import pandas as pd

df_train = pd.read_csv('data/train.csv',
                        dtype={'content_id': 'int16',
                               'content_type_id': 'int8',
                               'task_container_id': 'int16',
                               'user_answer': 'int8',
                               'answered_correctly': 'int8',
                               'prior_question_elapsed_time': 'float32'})

In [3]:
df_train.head() # выведем первые несколько строк таблицы

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False

In [4]:
df_train.info() # выведем информацию о данных нашей таблицы

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101230332 entries, 0 to 101230331
Data columns (total 10 columns):
 #   Column                          Dtype
---  ------                          -----
 0   row_id                          int64
 1   timestamp                       int64
 2   user_id                         int64
 3   content_id                      int16
 4   content_type_id                 int8
 5   task_container_id               int16
 6   user_answer                     int8
 7   answered_correctly              int8
 8   prior_question_elapsed_time     float32
 9   prior_question_had_explanation  object
dtypes: float32(1), int16(2), int64(3), int8(3), object(1)
memory usage: 4.1+ GB

In [5]:
display(df_train.shape) # посмотрим на размер нашей таблицы

(101230332, 10)

Посмотрим, сколько в нашей таблице пустых значений

In [6]:
df_train.isna().sum()

row_id                                  0
timestamp                               0
user_id                                 0
content_id                              0
content_type_id                         0
task_container_id                       0
user_answer                             0
answered_correctly                      0
prior_question_elapsed_time       2351538
prior_question_had_explanation     392506
dtype: int64

In [9]:
df_train[['prior_question_elapsed_time', 'prior_question_had_explanation']].isna().mean()

prior_question_elapsed_time       0.023230
prior_question_had_explanation    0.003877
dtype: float64

In [ ]:
df = df_train.dropna()